* {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  max-width: 100%;
  max-height: 96px;
}

.content .drive {
  width: 150px;
  padding-left: 10px;
  height: 33px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
  background: #e9e3e3;
}

.content .car {
  width: 217px;
  padding-left: 10px;
  height: 33px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
  background: #e9e3e3;
}

.content .public {
  width: 217px;
  padding-left: 10px;
  height: 33px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
  background: #e9e3e3;
}
