<div id="board">

  <div class="bbs_search">
    <form name="searchForm" id="searchForm" method="get"
      onsubmit="return IvyBoard.searchCheckIt( this );">
      <input type="hidden" name="boardTheme" value="common">
      <input type="hidden" name="cate1" value="">
      <fieldset>
        <legend class="hide">게시물 검색 폼</legend>
        <select name="st" id="st">
          <option value="tc">제목+내용</option>
          <option value="title">제목</option>
          <option value="cont">내용</option>
          <option value="name">글쓴이</option>
        </select>
        <label for="skw" class="hide">검색어를 입력하세요</label>
        <input type="text" class="search_keyword" name="skw" id="skw" title="검색어입력" value="">
        <button type="submit">검색</button>
      </fieldset>
    </form>
  </div>

  <div class="bbs_list_defalut">
    <table class="bbs_list_table">
      <caption>게시판 리스트 목록</caption>
      <thead>
        <tr>
          <th scope="col" class="number web_show">번호</th>
          <th scope="col" class="subject">제목</th>
          <th scope="col" class="writer web_show">글쓴이</th>
          <th scope="col" class="date web_show">날짜</th>
          <th scope="col" class="hits web_show">조회</th>
        </tr>
      </thead>
      <tbody>




        <tr class="toptr">
          <td class="number web_show notice">공지</td>
          <td class="subject notice">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=894&amp;page=1" class="Ellipsis"
              title="2022년 포항시립미술관 기록물관리전문가 선발 공고">2022년 포항시립미술관 기록물관리전문가 선발 공고</a> </td>
          <td class="writer web_show">
            최서영
          </td>
          <td class="date web_show">22.05.09</td>
          <td class="hits web_show">156</td>
        </tr>



        <tr>
          <td class="number web_show ">287</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=893&amp;page=1" class="Ellipsis"
              title="휴관 및 다음 전시 안내">휴관 및 다음 전시 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.05.06</td>
          <td class="hits web_show">202</td>
        </tr>



        <tr>
          <td class="number web_show ">286</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=892&amp;page=1" class="Ellipsis"
              title="2022년 제18회 포항시 장두건미술상 공모">2022년 제18회 포항시 장두건미술상 공모</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.03.07</td>
          <td class="hits web_show">608</td>
        </tr>




        <tr>
          <td class="number web_show ">285</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=890&amp;page=1" class="Ellipsis"
              title="2022년 포항스틸아트공방 기간제근로자（인턴） 최종합격자 안내">2022년 포항스틸아트공방 기간제근로자（인턴） 최종합격자 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.02.24</td>
          <td class="hits web_show">324</td>
        </tr>



        <tr>
          <td class="number web_show ">284</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=889&amp;page=1" class="Ellipsis"
              title="2022년 포항스틸아트공방 기간제근로자（인턴） 서류전형 결과 및 면접 안내">2022년 포항스틸아트공방 기간제근로자（인턴） 서류전형 결과 및 면접
              안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.02.23</td>
          <td class="hits web_show">194</td>
        </tr>



        <tr>
          <td class="number web_show ">283</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=888&amp;page=1" class="Ellipsis"
              title="2022년 포항시립미술관 기간제근로자（스틸아트공방） 채용 공고">2022년 포항시립미술관 기간제근로자（스틸아트공방） 채용 공고</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.02.11</td>
          <td class="hits web_show">336</td>
        </tr>



        <tr>
          <td class="number web_show ">282</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=887&amp;page=1" class="Ellipsis"
              title="2022년 포항시립미술관 소장품 구입 공고（기간연장）">2022년 포항시립미술관 소장품 구입 공고（기간연장）</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.02.11</td>
          <td class="hits web_show">440</td>
        </tr>


        <tr>
          <td class="number web_show ">281</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=886&amp;page=1" class="Ellipsis"
              title="포항시립미술관 시설 방역 안내">포항시립미술관 시설 방역 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.02.11</td>
          <td class="hits web_show">141</td>
        </tr>



        <tr>
          <td class="number web_show ">280</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=885&amp;page=1" class="Ellipsis"
              title="포항시립미술관 설 연휴 운영 안내">포항시립미술관 설 연휴 운영 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">22.01.28</td>
          <td class="hits web_show">283</td>
        </tr>




        <tr>
          <td class="number web_show ">279</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=884&amp;page=1" class="Ellipsis"
              title="2022 포항시립미술관 기간제근로자（학예, 문화예술교육인턴） 최종 합격자 안내">2022 포항시립미술관 기간제근로자（학예, 문화예술교육인턴） 최종 합격자
              안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.30</td>
          <td class="hits web_show">689</td>
        </tr>



        <tr>
          <td class="number web_show ">278</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=883&amp;page=1" class="Ellipsis"
              title="2022 포항스틸아트공방 기간제근로자（인턴） 최종합격자 안내">2022 포항스틸아트공방 기간제근로자（인턴） 최종합격자 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.28</td>
          <td class="hits web_show">357</td>
        </tr>



        <tr>
          <td class="number web_show ">277</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=882&amp;page=1" class="Ellipsis"
              title="2022년 포항시립미술관 기간제근로자（학예, 문화예술교육인턴） 서류전형 결과 및 면접 안내">2022년 포항시립미술관 기간제근로자（학예,
              문화예술교육인턴） 서류전형 결과 및 면접 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.24</td>
          <td class="hits web_show">418</td>
        </tr>



        <tr>
          <td class="number web_show ">276</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=881&amp;page=1" class="Ellipsis"
              title="2022년 포항스틸아트공방 기간제근로자（인턴） 서류전형 결과 및 면접 안내">2022년 포항스틸아트공방 기간제근로자（인턴） 서류전형 결과 및 면접
              안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.24</td>
          <td class="hits web_show">263</td>
        </tr>




        <tr>
          <td class="number web_show ">275</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=880&amp;page=1" class="Ellipsis"
              title="2022년 포항시립미술관 기간제근로자（스틸아트공방） 채용 공고">2022년 포항시립미술관 기간제근로자（스틸아트공방） 채용 공고</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.13</td>
          <td class="hits web_show">424</td>
        </tr>


        <tr>
          <td class="number web_show ">274</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=879&amp;page=1" class="Ellipsis"
              title="2022년 포항시립미술관 기간제근로자（학예, 문화예술교육 인턴） 채용 공고">2022년 포항시립미술관 기간제근로자（학예, 문화예술교육 인턴） 채용
              공고</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.09</td>
          <td class="hits web_show">1,201</td>
        </tr>




        <tr>
          <td class="number web_show ">273</td>
          <td class="subject ">
            <a href="?boardTheme=common&amp;skw=&amp;mode=read&amp;idx=878&amp;page=1" class="Ellipsis"
              title="포항시립미술관 방역패스 의무적용 시행 안내">포항시립미술관 방역패스 의무적용 시행 안내</a> </td>
          <td class="writer web_show">
            포항시립미술관
          </td>
          <td class="date web_show">21.12.07</td>
          <td class="hits web_show">345</td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="btn_wrap alignR">
    <a href="/poma/p_comm/cm_noti/?boardTheme=common" class="bg_blue">목록</a>
  </div>

  <div class="paging_wrap">
    <a href="#" class="page_num current">1</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=2" class="page_num">2</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=3" class="page_num">3</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=4" class="page_num">4</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=5" class="page_num">5</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=6" class="page_num">6</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=7" class="page_num">7</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=8" class="page_num">8</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=9" class="next_page">&nbsp;</a><a
      href="?boardTheme=common&amp;skw=&amp;mode=list&amp;page=18" class="last_page">&nbsp;</a>

  </div>

</div>