<div class="footer_nav">
  <div class="inner">
    <ul>
      <li><a href="#">개인정보처리방침</a></li>
      <li><a href="#">이용약관</a></li>
      <li><a href="http://www.pohang.go.kr">포항시청 바로가기</a></li>
      <li><a href="https://www.facebook.com/POMAmuseum" class="face_book" target="_blank">페이스북</a></li>
      <li><a href="https://www.instagram.com/poma_museum/" class="instagram" target="_blank">인스타그램</a></li>
      <li><a href="https://www.youtube.com/channel/UCgLh_YiDKaN38d0rz2akokQ" class="youtube" target="_blank">유튜브</a></li>
    </ul> 
  </div>
</div>
<div class="footer_address">
  <div class="inner">
    <a href="#" class="footer_logo"><img src="image/footer_logo.png" alt="하단 로고"></a>
    <div class="address_wrap">
      <ul class="address_list">
        <li class="m_ver">포항시립미술관</li>
        <li>37600 경상북도 포항시 북구 환호공원길 10</li>
        <li class="m_line">TEL 054-270-4700 </li>
        <li>FAX 054-252-0257</li>
      </ul>
      <ul class="time_list">
        <li>4-10월 오전 10시 ~ 오후 7시까지</li>
        <li>11-3월 오전 10시 ~ 오후 6시까지</li>
        <li>매주 월요일 휴관</li>
      </ul>
      <p class="copy">copyright(c) 2012 POMA all right reserved</p>
    </div>
    <div id="topGo" class="home">
      <a href="#" class="top_btn"><img src="image/top_btn.gif" alt="TOP"></a>
    </div>
  </div>
</div>