<ul class="btmmenu wrapper">
  <li class="item"><a href="#">개인정보처리방침</a></li>
  <li class="item"><a href="#">이용약관</a></li>
  <li class="item"><a href="http://www.pohang.go.kr">포항시청 바로가기</a></li>
  <li class="item"><a href="https://www.facebook.com/POMAmuseum" class="xi-facebook" target="_blank">페이스북</a></li>
  <li class="item"><a href="https://www.instagram.com/poma_museum/" class="xi-instagram" target="_blank">인스타그램</a></li>
  <li class="item"><a href="https://www.youtube.com/channel/UCgLh_YiDKaN38d0rz2akokQ" class="xi-youtube-play" target="_blank">유튜브</a></li>
</ul>