<div class="art_wrap gallery popzone">
  <p class="tit">작품 더 보기</p>
  <ul>
    <li class="pop">
      <div class="pop01">
        <a href="#" class="detail"
          style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:center; vertical-align:middle;"><img
            src="images/editor_208030_3534906791_BnsfvdHP.jpg" class="lightview"
            style="max-width:100%; height:auto;"></a>
      </div>
      <div class="pop_layer lc01">
        <div class="layer_inner">
          <a href="#" class="layer_close" id="lc01">X</a>
          <div class="inner_wrap">
            <div class="inner_img"><img src="images/editor_208030_3534906791_BnsfvdHP.jpg"
                style="max-width:100%; height:auto;  max-height:600px;"></div>
            <div class="inner_txt">
              <p class="name"><span>작품명</span><strong>: 뉴 스트럭쳐 9 키 & 그래픽</strong></p>
              <p><span>작가명</span><strong>: 권오상</strong></p>
              <p><span>재료</span><strong>: 알루미늄에 프린트</strong></p>
              <p><span>사이즈</span><strong>: 380x185x216cm</strong></p>
              <p><span>제작년도</span><strong>: 2015-2016</strong></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="pop">
      <div class="pop02"><a href="#" class="detail"
          style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:center; vertical-align:middle;"><img
            src="images/editor_208030_3534906791_NHj62Duh.jpg" class="lightview"
            rel="images/editor_208030_3534906791_NHj62Duh.jpg" style="max-width:100%; height:auto;"></a></div>
      <div class="pop_layer lc02">
        <div class="layer_inner">
          <a href="#" class="layer_close" id="lc02">X</a>
          <div class="inner_wrap">
            <div class="inner_img"><img src="images/editor_208030_3534906791_NHj62Duh.jpg" alt="" class="lightview"
                rel="images/editor_208030_3534906791_NHj62Duh.jpg"
                style="max-width:100%; height:auto;  max-height:600px;"></div>
            <div class="inner_txt">
              <p class="name"><span>작품명</span><strong>: 그들의 쉐라톤</strong></p>
              <p><span>작가명</span><strong>: 김세진</strong></p>
              <p><span>재료</span><strong>: 싱글채널 비디오</strong></p>
              <p><span>사이즈</span><strong>: 3분 8초</strong></p>
              <p><span>제작년도</span><strong>: 2006</strong></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="pop">
      <div class="pop03"><a href="#" class="detail"
          style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:center; vertical-align:middle;"><img
            src="images/editor_208030_3534906791_6yx2rXzo.jpg" alt="" class="lightview"
            rel="images/editor_208030_3534906791_6yx2rXzo.jpg" style="max-width:100%; height:auto;"></a></div>
      <div class="pop_layer lc03">
        <div class="layer_inner">
          <a href="#" class="layer_close" id="lc03">X</a>
          <div class="inner_wrap">
            <div class="inner_img"><img src="images/editor_208030_3534906791_6yx2rXzo.jpg" alt="" class="lightview"
                rel="images/editor_208030_3534906791_6yx2rXzo.jpg"
                style="max-width:100%; height:auto;  max-height:600px;"></div>
            <div class="inner_txt">
              <p class="name"><span>작품명</span><strong>: 나와 연계해(4)</strong></p>
              <p><span>작가명</span><strong>: 수퍼플렉스</strong></p>
              <p><span>재료</span><strong>: 스틸 튜브, 폴리우레탄, 에나멜 페인트</strong></p>
              <p><span>사이즈</span><strong>: 86x423x75cm</strong></p>
              <p><span>제작년도</span><strong>: 2018</strong></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="pop">
      <div class="pop04"><a href="#" class="detail"
          style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:center; vertical-align:middle;"><img
            src="images/editor_208030_3534906791_t8Hh1AWp.jpg" alt="" class="lightview"
            rel="images/editor_208030_3534906791_t8Hh1AWp.jpg" style="max-width:100%; height:auto;"></a></div>
      <div class="pop_layer lc04">
        <div class="layer_inner">
          <a href="#" class="layer_close" id="lc04">X</a>
          <div class="inner_wrap">
            <div class="inner_img"><img src="images/editor_208030_3534906791_t8Hh1AWp.jpg" alt="" class="lightview"
                rel="images/editor_208030_3534906791_t8Hh1AWp.jpg"
                style="max-width:100%; height:auto;  max-height:600px;"></div>
            <div class="inner_txt">
              <p class="name"><span>작품명</span><strong>: 아파트</strong></p>
              <p><span>작가명</span><strong>: 이문호</strong></p>
              <p><span>재료</span><strong>: 잉크젯프린트</strong></p>
              <p><span>사이즈</span><strong>: 35x48cmx15pcs</strong></p>
              <p><span>제작년도</span><strong>: 2008</strong></p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>