<div class="header_top">
  <div class="inner">

    {headerLink}
    
    <div class="util_box">
      {loginLink}
    </div>

    <div class="search_wrap">
      {searchbox}
    </div>

  </div>
</div>

<div id="gnb">
  <div class="submenu_back"></div>
  <div class="inner">
    <h2 class="logo">
      <img src="images/gnb_logo.png" alt="포항시립미술관">
    </h2>
    
    <ul class="menu">
      <li class="dep1">
        <a href="p_exh.php" class="dep_btn1">전시</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="e_pre.php">현재전시</a></li>
            <li><a href="e_past.php">과거전시</a></li>
            <li><a href="e_expe.php">예정전시</a></li>
          </ul>
        </div>
      </li>
      <li class="dep1">
        <a href="edu01.php" class="dep_btn1">교육</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="edu01.php">어린이·가족</a></li>
            <li><a href="edu02.php">청소년·성인</a></li>
            <li><a href="edu03.php">도슨트</a></li>
          </ul>
        </div>
      </li>
      <li class="dep1">
        <a href="c_coll.php" class="dep_btn1">소장품</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="c_coll.php">소장품</a></li>
            <li><a href="c_endow.php">작품기증</a></li>
            <li><a href="c_libr.php">도서</a></li>
            <li><a href="http://poma.pohang.go.kr/poma/p_coll/c_app/index.html" target="_blank"
                title="[AR 도슨트 투어] 새창으로 화면 이동">AR 도슨트 투어</a></li>
          </ul>
        </div>
      </li>
      <li class="dep1">
        <a href="steel_art.php" class="dep_btn1">스틸아트공방</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="steel_art.php">스틸공방</a></li>
          </ul>
        </div>
      </li>
      <li class="dep1">
        <a href="cm_noti.php" class="dep_btn1">참여마당</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="cm_noti.php">공지사항</a></li>
            <li><a href="cm_event.php">문화행사소식</a></li>
            <li><a href="cm_qna.php">질문과답변</a></li>
            <li><a href="cm_news.php">장두건미술상</a></li>
          </ul>
        </div>
      </li>
      <li class="dep1">
        <a href="g_guide.php" class="dep_btn1">관람안내</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="g_guide.php">관람안내</a></li>
            <li><a href="g_contact.php">오시는길</a></li>
            <li><a href="g_reser.php">단체관람예약</a></li>
            <li><a href="g_facility.php">편의시설</a></li>
          </ul>
        </div>
      </li>
      <li class="dep1">
        <a href="i_greeting.php" class="dep_btn1">미술관소개</a>
        <div class="sub">
          <ul class="gnb_sub">
            <li><a href="i_greeting.php">인사말</a></li>
            <li><a href="vision.php">정체성·미션</a></li>
            <li><a href="i_intr.php">시설현황</a></li>
            <li><a href="i_organization.php">조직도</a></li>
            <li><a href="i_mi.php">MI소개</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="fill"></div>

  </div>
</div>