<div id="board">

  <div class="bbs_search">{postSearch}</div>

  <div class="bbs_list_defalut">
    <table class="bbs_list_table">
      <tr>
        <th scope="col" class="number">번호</th>
        <th scope="col" class="subject">제목</th>
        <th scope="col" class="writer">글쓴이</th>
        <th scope="col" class="date">날짜</th>
        <th scope="col" class="hits">조회</th>
      </tr>
      {postList}
    </table>
  </div>

  <div class="btn_wrap alignR"></div>

  <div class="paging_wrap">
    {pageNav}
  </div>

</div>