<div id="board">
  <div class="exh_view_default">
    <div class="art_img_wrap">
      {image}
    </div>
    <div class="art_wrap info">
      <p class="title">{title}</p>
      <div class="info_box">
        {info}
      </div>
      <div class="info_text">
        {content}
        <div class="hwp_editor_board_content" id="hwpEditorBoardContent" data-jsonlen="18516" data-hjsonver="1.0"></div>
      </div>
    </div>
    {gallery}
    <div class="btn_wrap alignR">
      <a href="http://poma.pohang.go.kr/pomavr/202202/VR.html" class="list_btn" target="_blank">VR보기</a>
    </div>
    <div class="btn_wrap alignR">
      <a href="{listUrl}" class="list_btn">목록</a>
    </div>
  </div>
</div>