<div id="board">

  <div class="edu_view_default">
    <div class="edu_view_table">
      <div class="post_title">
        {title}
      </div>
      <div class="post_writer post_td">
        <span>{nickname}</span>
        <span class="date">{wdate}</span>
        <span class="hits">조회 {hits}</span>
      </div>
      <div class="dlType_wrap">
        {info}
      </div>
    </div>
    <div class="post_subject">
      {image}
      {content}
    </div>
  </div>

  <div class="case_wrap">
    {postNav}
  </div>

  <div class="btn_wrap alignR">
    <a href="{listUrl}" class="list_btn">목록</a>
  </div>

</div>