<!-- visual -->
<div id="h_visual">
  <div id="imgslide">
    <div class="imgs">
      <img src="images/banner/20220405.jpg">
    </div>
  </div>
</div>
<!-- //visual -->
<!-- mCon -->
<div id="mCon">
  <div class="inner">
    <!-- firstArea -->
    <div id="firstArea">
      <div class="box_wrap box1">

        <div class="box cont01">
          <p class="tit">현재전시 <span class="eng">Current Exhibition</span></p>
          <div class="inner">
            <a style="background: url(images/popup/220506_sub.jpg) center center / 260px 265px no-repeat; display: block;"
              href="main.php?action=exhibition&category=current" class="view01">현재전시 포스터</a>
          </div>
        </div>
        
        <div class="box cont02">
          <p class="tit">교육 <span class="eng">Program</span></p>
          <div class="inner">
            <ul>
              <li>
                <div class="img">
                  <a href="main.php?action=education&category=edu03&do=post&postid=62">
                    <img src="files/education/edu03/editor_176719_1565694333_0_0.png" style="width:219px; height:75px;">
                  </a>
                </div>
                <div class="txt">
                  <a href="main.php?action=education&category=edu03&do=post&postid=62" class="tit">2022년 5월 전시 도슨트 자원봉사자 전시교육</a>
                  <span class="state end">접수마감</span>
                  <span class="date">2022-05-02 - 2022-06-07</span>
                  <span class="object">미술관에서 활동중인 POMA 도슨트</span>
                </div>
              </li>
              <li>
                <div class="img">
                  <a href="main.php?action=education&category=edu01&do=post&postid=40">
                    <img src="files/education/edu01/editor_208030_3534906791_rABxfgOQ.png" style="width:219px; height:75px;">
                  </a>
                </div>
                <div class="txt">
                  <a href="main.php?action=education&category=edu01&do=post&postid=40" class="tit">전시감상 프로그램 방구석 POMA 톡톡 TALK TALK!</a>
                  <span class="state end">접수마감</span>
                  <span class="date">2020-07-28 ~ 2020-08-23</span>
                  <span class="object">8세~13세 어린이(11세~13세 권장)</span>
                </div>
              </li>
              <li>
                <div class="img">
                  <a href="main.php?action=education&category=edu02&do=post&postid=46" class="tit">
                    <img src="files/education/edu02/editor_208030_3530068872_FJRWVey2.jpg" style="width:219px; height:75px;">
                  </a>
                </div>
                <div class="txt">
                  <a href="main.php?action=education&category=edu02&do=post&postid=46" class="tit">《기억의 파동》 전시 연계 아트토크</a>
                  <span class="state end">접수마감</span>
                  <span class="date">2021-08-07 ~ 2021-08-07</span>
                  <span class="object">관심있는 누구나</span>
                </div>
              </li>
            </ul>
          </div>
          <a href="main.php?action=education&category=edu01" class="more_btn">
            <img src="images/ui/more_btn.gif" class="pc_ver" alt="더보기">
          </a>
        </div>
      </div>
      
      <div class="box_wrap box2">
        <div class="box cont03">
          <p class="tit">최근소식 <span class="eng">News</span></p>
          <div class="inner">
            <ul>
              <li><a href="main.php?action=community&category=notice&do=post&postid=16">2022년 포항시립미술관 기록물관리전문가 선발 공고</a><span class="date">2022-05-09</span></li>
              <li><a href="main.php?action=community&category=notice&do=post&postid=14">휴관 및 다음 전시 안내</a><span class="date">2022-05-06</span></li>
              <li><a href="main.php?action=community&category=notice&do=post&postid=13">2022년 제18회 포항시 장두건미술상 공모</a><span class="date">2022-03-07</span></li>
              <li><a href="main.php?action=community&category=notice&do=post&postid=8">포항시립미술관 시설 방역 안내</a><span class="date">2022-03-07</span></li>
            </ul>
          </div>
          <a href="http://localhost/museum/main.php?action=community&category=notice" class="more_btn">
            <img src="images/ui/more_btn.gif" class="pc_ver" alt="더보기">
          </a>
        </div>

        <div class="box cont04">
          <div class="inner">
            <span class="txt">
              <a style="color:white; display:block;" target="_blank" href="http://poma.pohang.go.kr/poma/p_coll/c_app/index.html">AR 도슨트 투어</a>
            </span>
            <a href="https://poma.pohang.go.kr/poma/p_coll/c_app/index.html" class="more_btn">
              <img src="images/ui/more_btn.gif" class="pc_ver" alt="더보기">
            </a>
          </div>
        </div>
      </div>

      <div class="clear"></div>
    </div>
    <!-- //firstArea -->
    <!-- secondArea -->
    <div id="secondArea">
      <div class="box_wrap">
        <ul>
          <li>
            <p class="tit">소장품/도서 <span class="eng">Collection/Library</span></p>
            <a href="main.php?action=collection&category=collection">
              <img src="images/shortcut/sec_img01.jpg" alt="소장품/도서 바로가기">
            </a>
          </li>
          <li>
            <p class="tit">미술관소개 <span class="eng">About POMA</span></p>
            <a href="main.php?action=greeting&category=greeting">
              <img src="images/shortcut/sec_img02.jpg" alt="미술관소개 바로가기">
            </a>
          </li>
          <li>
            <p class="tit">스틸아트공방 <span class="eng">Steel Art Workshop</span></p>
            <a href="https://poma.pohang.go.kr/poma/p_ste/steel_art/">
              <img src="images/shortcut/sec_img03.jpg" alt="스틸아트공방 바로가기">
            </a>
          </li>
          <li>
            <p class="tit">관람안내/예약 <span class="eng">Guide/Reservation</span></p>
            <a href="main.php?action=guide&category=information">
              <img src="images/shortcut/sec_img04.jpg" alt="관람안내/예약 바로가기">
            </a>
          </li>
        </ul>
      </div>
    </div><!-- //secondArea -->
  </div>
</div><!-- //mCon -->