@import "_variables.scss";

// light theme
$color-background: $grey-95;
$color-header: initial;
$color-section: $white;
$color-footer: $white;

$color-text: $grey-5;
$color-text-faint: $grey-65;
$color-text-emp: $black;
$color-text-link: $blue;
$color-border: $grey-85;
$color-border-emp: $sky;

$color-button: $grey-95;
$color-button-float: $white;
$color-deactive: $grey-90;
$color-input: white;

$color-box-grey: $grey-95;
$color-box-blue: aliceblue;
$color-box-antique: antiquewhite;

$color-light: $white;

body {
  background-color: $color-background;
  color: $color-text;
}
header {
  background-color: $color-header;
}
section {
  background-color: $color-section;
}
footer {
  background-color: $color-footer;
}
