#header .header_top { background-image: none; background-color: black; position: relative; z-index: 99; }

#header .header_top .inner .search_wrap { border: none; overflow: initial; }

#header .header_top .inner .search_wrap .search_btn { border: none; background-color: transparent; box-shadow: none; position: absolute; top: 7px; right: 7px; width: 24px; height: 24px; }

#header .header_top .inner .search_wrap .search_btn :hover { color: orange; }

#header .header_top .inner .search_wrap .search_btn > i { font-size: 1.5rem; top: 1px; }

#header .header_top .util_box > ul > li > a { color: white; }

#header .header_top .util_box > ul > li > a:hover { color: orange; }

#header .header_top .util_box > ul > li > a span { color: inherit; }

#header #gnb .inner { position: initial; }

#header #gnb .fill { background-color: #f5f5f5; position: absolute; left: 0; top: 60px; width: 100%; height: 200px; transform: translateY(-100%); transition: transform 0.35s; z-index: -1; }

#header #gnb ul.menu { position: relative; padding: 0; z-index: 10; height: 60px; width: 100%; }

#header #gnb ul.menu:hover li.dep1 > .sub { transform: translateY(0) !important; }

#header #gnb ul.menu:hover ~ .fill { transform: translateY(0) !important; }

#header #gnb ul.menu li.dep1 { position: relative; float: left; width: 11%; text-align: center; height: 60px; padding: 0; background-color: #f5f5f5; z-index: 9; }

#header #gnb ul.menu li.dep1 > a { display: block; padding-top: 15px; padding-bottom: 15px; height: 60px; line-height: 30px; font-size: 16px; font-weight: bold; text-align: center; background-color: #f5f5f5; z-index: 99; }

#header #gnb ul.menu li.dep1 > .sub { display: block; width: 100%; height: 200px; top: 60px; left: 0; border-left: 1px solid #e5e5e5; position: absolute; line-height: 38px; z-index: -1; transform: translateY(-100%); transition: transform 0.35s; background-color: #f5f5f5; }

#header #gnb ul.menu li.dep1 > .sub ul.gnb_sub { height: 200px; z-index: 1; }

#container { background: initial; padding: 0; min-height: 4000px; }
