// @import "_variables.scss";
@import "_theme_light.scss";
// @import "_theme_dark.scss";

// ---------------------------------------------------------


#cont {
  .sub_tit{
    h3 {
      .eng {
        margin-left: 15px;
      }
    }
  }
  .greeting_wrap {
    .sign {
      vertical-align: bottom;
      margin-left: 5px;
      height: 47px;
      width: auto;
    }
  }
}

#board {
  .bbs_gallery_defalut {
    > ul li {
      p.tit {
        margin-bottom: 8px;
      }
      .info {
        margin: 0;
        color: #959595;
        label {
          font-weight: initial;
          color: black;
        }
      }
    }
  }
}
