// @import "_variables.scss";
@import "_theme_light.scss";
// @import "_theme_dark.scss";

// ---------------------------------------------------------

#header {
  .search_wrap {
    border: none !important;
    overflow: initial !important;
  }
  .search_btn {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}


#container {
  background: initial;
  padding: 0;
  min-height: 400px;
}