body { background-color: #f2f2f2; color: #0d0d0d; }

header { background-color: #000000; }

nav { background-color: #ffffff; }

section { background-color: #ffffff; }

footer { background-color: #000000; }

#cont .sub_tit h3 .eng { margin-left: 15px; }

#cont .greeting_wrap .sign { vertical-align: bottom; margin-left: 5px; height: 47px; width: auto; }

#board .bbs_gallery_defalut > ul li p.tit { margin-bottom: 8px; }

#board .bbs_gallery_defalut > ul li .info { margin: 0; color: #959595; }

#board .bbs_gallery_defalut > ul li .info label { font-weight: initial; color: black; }
