@import "_theme_light.scss";

// -----------------------------------------------------------------

header {
  width: 100%;
  position: relative;
  >.wrapper {
    @include flex(center, space-between);
    position: relative;
    height: inherit;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 15px;
  }
}

nav {
  width: 100%;
  position: relative;
  >.wrapper {
    @include flex(center, space-between);
    // position: relative;
    height: inherit;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 15px;
  }
}

main {
  width: 100%;
  position: relative;
  >.wrapper {
    @include flex(start, center);
    position: relative;
    height: inherit;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }
}

footer {
  width: 100%;
  position: relative;
  >.wrapper {
    @include flex(center, space-between);
    position: relative;
    height: inherit;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }
}

// -----------------------------------------------------------------
// 헤더
#topmenu {
  height: 60px;
  white-space: nowrap;
  z-index: 99;
  .logo {
    max-width: 420px;
    margin-right: 15px;
    filter: saturate(0);
    transition: filter 0.35s;
    &:hover, &.active {
      filter: saturate(1);
    }
    >img {
      vertical-align: middle;
    }
  }
  .usermenu {
    color: $white;
    font-size: 1.35rem;
    margin-left: auto;
    margin-right: 15px;
  }
  .searchbox {
    @include flex(center, end);
    position: relative;
    width: 100%;
    max-width: 220px;
    >input[name=query] {
      width: 100%;
    }
    >.btn {
      font-size: 1.2rem;
      padding: 0 5px;
      position: absolute;
      i {
        top:0.1rem;
      }
    }
  }
}

#navmenu {
  height: 50px;
  white-space: nowrap;
  border-bottom: 1px solid $color-border;
  font-size: 0.95rem;

  .sep {
    color: $grey-90;
  }

  .title {
    letter-spacing: 0.1rem;
    font-weight: bold;
    z-index: 9;
    >a {
      margin-right: 10px;
    }
  }

  .fill {
    background-color: $color-nav;
    position: absolute;
    left: 0;
    width: 100%;
    &.back {
      top: 0;
      height: inherit;
      z-index: 8;
    }
    &.menu {
      border-bottom: 1px solid $color-border;
      top: 50px;
      height: 200px;
      transform: translateY(-100%);
      transition: transform 0.35s;
      z-index: 1;
    }
  }

  .mainmenu {
    @include flex(center, space-between);
    position: relative;
    top: 0;
    height: 33px;
    width: 100%;
    max-width: 900px;
    margin-right: auto;
    .sep {
      position: absolute;
      right: 1px;
      width: 0;
      z-index: 8;
    }
    >li.item {
      @include flex(center, start, column);
      position: relative;
      text-align: center;
      font-size: 0.95rem;
      font-weight: bold;
      flex-grow: 1;
      min-width: 110px;
      height: inherit;
      width: 14.28%;
      a {
        padding: 5px;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 9;
        >label {
          @include flex(center, center);
          width: calc(100% - 24px);
          margin: auto;
          padding-bottom: 7px;
          border-bottom: 4px solid transparent;
          transition: width 0.35s;
        }
      }
      &.active>a {
        >label {
          border-bottom: 4px solid $color-border-emp;
        }
      }
      ul.subnmenu {
        width: 100%;
        position: absolute;
        top: 36px;
        padding-top: 14px;
        height: 188px;
        line-height: 26px;
        z-index: 5;
        transform: translateY(calc(-100% - 8px));
        transition: transform 0.35s;
        li.item {
          height: 36px;
          width: 100%;
          font-size: 0.9rem;
          font-weight: initial;
          &:hover {
            background-color: $grey-95;
          }
        }
      }
      &:not(:last-child) {
        ul.subnmenu {
          border-right: 1px solid rgba(0, 0, 0, 0.05);
        }
      }
    }
    &:hover {
      top: 5px;
      height: 43px;
      >li.item {
        >a>label {
          width: 100%;
        }
        >ul.subnmenu {
          transform: translateY(0);
        }
      }
      &~.fill.menu {
        transform: translateY(0);
      }
    }
  }
}

// -----------------------------------------------------------------
// 푸터
#footmenu {
  height: 50px;
  width: 100%;
  font-size: 0.95rem;
  color: $white;
  background-color: $black;
  border-bottom: 1px solid $grey-10;
  
  .btmmenu {
    >li {
      @include flex(center, center);
      height: inherit;
      width: 16.66%;
    }
  }
}

#footer {
  color: $white;
  height: 120px;
  .logo {
    filter: saturate(0);
    transition: filter 0.35s;
    &:hover, &.active {
      filter: saturate(1);
    }
  }
  .info {
    @include flex(start, center, column);
    .rowlist {
      @include flex(center, start);
      li {
        &:not(:last-child)::after {
          color: $grey-20;
          content: '|';
          padding: 0 10px;
        }
      }
    }
  }
  #back_to_top {
    background-color: rgba(white, 0.15);
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

// #footer {
//   background: url(../images/search_bg.jpg) repeat 0 0;

//   .footer_nav {
//     border: solid #bbb;
//     border-width: 1px 0 1px 0;

//     .inner {
//       position: relative;
//       margin: 0 auto;
//       width: 1100px;

//       ul {
//         overflow: hidden;

//         li {
//           &:first-child {
//             border-left: 1px solid #bbb;
//           }

//           float: left;
//           padding: 10px 0;
//           width: 180px;
//           border-right: 1px solid #bbb;
//           text-align: center;

//           a {
//             display: inline-block;
//             color: #fff;
//             font-size: 13px;
//           }

//           a.face_book {
//             padding-left: 12px;
//             color: #004f9e;
//             background: url(../images/icon/facebook_ico.png) no-repeat 0 4px;
//           }

//           a.instagram {
//             padding-left: 18px;
//             color: #af003f;
//             background: url(../images/icon/instagram_ico.png) no-repeat 0 4px;
//           }

//           a.youtube {
//             padding-left: 18px;
//             color: #d21111;
//             background: url(../images/icon/youtube_ico.png) no-repeat 0 4px;
//           }
//         }
//       }
//     }
//   }

//   .footer_address {
//     padding: 25px 0;

//     .inner {
//       position: relative;
//       margin: 0 auto;
//       width: 1100px;

//       .footer_logo {
//         position: absolute;
//         left: 0;
//         top: 20px;
//       }

//       .address_wrap {
//         padding-left: 175px;
//       }

//       ul {
//         overflow: hidden;

//         li {
//           &:first-child {
//             margin: 0 0 3px 0;
//             padding-left: 0;
//             background: none;
//           }

//           float: left;
//           margin: 0 0 3px 10px;
//           padding-left: 10px;
//           color: #fff;
//           font-size: 14px;
//           background: url(../images/gnb_line.gif) no-repeat 0 4px;
//         }
//       }

//       .copy {
//         color: #fff;
//         font-size: 14px;
//         text-align: left;
//       }
//     }
//   }
// }

#container {
  min-height: 400px;

  .steelArt_wrap {
    display: none;
  }

  >.rbox {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 1000px;
    min-height: 540px;
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(black, 50%);

    >.head {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 400px;
      background: url(../images/bg_blur.jpg) no-repeat 35% -120px;

      >.inner {
        padding: 30px 50px 0 50px;

        >h2 {
          line-height: 60px;
          font-weight: 700;
          font-size: 50px;
          letter-spacing: -4px;
        }

        >p {
          margin-top: 15px;
        }

        >p.txt {
          >span {
            display: block;
            word-break: keep-all;
          }
        }

        >p.cut {
          width: 50px;
          height: 0;
          border-bottom: 1px solid #fff;
        }

        >a {
          display: block;
          width: 145px;
          height: 40px;
          margin-top: 15px;
          padding-left: 15px;
          background: url(../images/btn_arr.png) no-repeat 140px 50% rgba(0, 0, 0, .5);
          line-height: 40px;
        }
      }
    }

    >.body {
      float: right;
      width: 600px;

      >.login {
        border-bottom: 1px solid #ddd;
      }

      >.inner.login {
        >h3 {
          font-size: 30px;
          letter-spacing: 0;
        }

        >form {
          >._id {
            padding: 15px 0;
            border-bottom: 1px solid #bbb;

            >label {
              background: url(../images/ico_id.png) no-repeat 50%;
              display: block;
              float: left;
              width: 20px;
              height: 20px;
              text-indent: -9999px;
            }

            >input {
              display: block;
              width: 270px;
              height: 20px;
              padding-left: 10px;
              border: none;
              background: transparent;
              font-size: 13px;
            }
          }

          >._pw {
            padding: 15px 0;
            border-bottom: 1px solid #bbb;
            margin-top: 10px;

            >label {
              background: url(../images/ico_pw.png) no-repeat 50%;
              display: block;
              float: left;
              width: 20px;
              height: 20px;
              text-indent: -9999px;
            }

            >input {
              display: block;
              width: 270px;
              height: 20px;
              padding-left: 10px;
              border: none;
              background: transparent;
              font-size: 13px;
            }
          }

          >button {
            width: 100%;
            height: 50px;
            margin-top: 20px;
            background: #267dde;
            color: #fff;
          }
        }
      }

      >.inner {
        position: relative;
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;
      }
    }
  }

  .rbox {
    >.body {
      >.inner {
        >.find_idpw {
          text-align: center;

          ._btn {
            padding-top: 10px;

            >button {
              line-height: 20px;
            }

            >span.cut {
              line-height: 20px;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}

#sCon {
  margin: 0 auto;
  width: 1100px;
  background: #fff;
  overflow: hidden;

  .contents {
    float: left;
    width: 901px;
  }

  .sub_visual {
    width: 901px;
    height: 150px;
    position: relative;
    border-bottom: 1px solid #c4161c;
    background: url(../images/sub_visual03.jpg) no-repeat 0 0;
  }
}

#lnb {
  float: left;
  width: 199px;

  h2 {
    height: 150px;
    line-height: 150px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #c4161c;
    background: #212121;
    text-align: center;
  }

  ul {
    li {
      border-bottom: 1px solid #d9d9d9;
      font-size: 0.95rem;
      color: $grey-40;
      a {
        display: block;
        padding-left: 30px;
        height: 59px;
        line-height: 59px;
        &::before {
          color: $red !important;
        }
      }
      &:hover {
        color: $color-text-emp;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

#cont {
  min-height: 600px;
  border-left: 1px solid $color-border;
  position: relative;

  .location {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 0.9rem;
    span {
      display: inline-block;
    }
    .sep {
      color: $color-text-faint;
      top: 0.1rem;
    }
  }

  .sub_title {
    margin-bottom: 40px;
    padding: 25px 40px;
    line-height: 1.5;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
    .name {
      color: $color-text-faint;
      font-size: 25px;
      margin-left: 15px;
    }
  }
  &.post .sub_title {
    margin-bottom: 25px;
  }

  >.inner {
    padding: 0 40px;
    padding-bottom: 25px;
    position: relative;
  }

  .dlType01 {
    margin: 0 2% 30px 0;
    width: 48%;
    box-sizing: border-box;
    dt {
      padding-left: 10px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      font-weight: bold;
      background: #f0f0f0;
    }
    dd {
      padding: 10px;
      height: 65px;
      font-size: 14px;
    }
  }

  .dlType02 {
    margin: 0 0 50px 0;
    width: 100%;
    dt {
      padding-left: 10px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      font-weight: bold;
      background: #f0f0f0;
    }
    dd {
      position: relative;
      padding: 10px;
      font-size: 14px;
      p {
        &:first-child {
          margin-top: 0;
          margin-top: 0;
        }
        margin-top: 30px;
      }
      .reservation_btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 155px;
        height: 40px;
        line-height: 40px;
        color: #656565;
        border: 1px solid #ddd;
        background: #f0f0f0;
        text-align: center;
      }
    }
  }

  dl {
    margin: 0;
    width: 100%;
    overflow: hidden;
    white-space: normal;
  }
  .dlType03 {
    min-height: 40px;
    dt {
      text-align: center;
      width: 140px;
      min-width: 140px;
      line-height: 40px;
      background: #f5f5f5;
      font-weight: bold;
    }
    dd {
      width: 100%;
      padding: 6px 10px;
    }
  }

  // .dlType04 {
  //   margin: 0;
  //   width: 100%;
  //   overflow: hidden;
  // }

  .dlType06 {
    @include flex(center, start);
    dt, dd {
      padding: 5px 10px;
    }

    dt {
      width: 140px;
      background: #f0f0f0;
      font-weight: bold;
    }

    dd {
      width: 100%;
    }
  }

  .flexbox {
    @include flex(start, space-between);
    &.column {
      @include flex(center, start, column);
      &.start {
        @include flex(start, start, column);
      }
    }
  }

  .textbox {
    display: inline-block;
    position: relative;
    z-index: 1;
    background: #f5f5f5;
    padding: 30px;
    width: fit-content;
  }

  .paging_wrap {
    width: 100%;
    margin: 50px 0 50px;
    vertical-align: top;
    text-align: center;
    width: 100%;
    margin: 50px 0 50px;
    vertical-align: top;
    text-align: center;

    a {
      display: inline-block;
      width: 28px;
      height: 32px;
      line-height: 32px;
      font-size: 13px;
      border: 1px solid #ddd;
      background: #f5f5f5;
      &:hover, 
      &.current {
        &:not(.disabled) {
          color: #fff;
          background: #656565;
        }
      }
      &.disabled {
        color: $black;
        opacity: 0.25;
        cursor: default;
      }
    }

  }

  .btn_wrap {
    margin: 15px 0;
    margin: 15px 0;

    a {
      display: inline-block;
      width: 98px;
      height: 28px;
      line-height: 28px;
      color: #656565;
      font-size: 14px;
      border: 1px solid #ddd;
      background: #f0f0f0;
      text-align: center;

      &:hover {
        background-color: #212121;
        color: #fff;
      }
    }
  }

  .cont_title {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-border;
    align-items: center;
    >.round {
      font-size: 1rem;
      position: absolute;
      border-radius: 50%;
      line-height: 1;
      padding: 6px;
      &.red {
        background-color: red;
        color: white;
      }
    }
  }

  .gallery_wrap {
    padding: 0;
    .gallery_list {
      @include flex(start, center, row, wrap);
  
      li {
        margin: 25px 15px;
        &:nth-last-col(1) {
          margin-bottom: 0;
        }
  
        .img {
          padding: 5px;
          width: 224px;
          height: 153px;
          border: 1px solid #ddd;
          overflow: hidden;
        }
  
        .text {
          font-size: 14px;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }

  .dlType_wrap {
    width: auto;
    overflow: hidden;
    border-top: 1px solid $color-border;

    dl {
      @include flex(stretch, start);
      width: 100%;
      border-bottom: 1px solid $color-border;
      // &:first-child {
      //   border-top: 1px solid $color-border;
      // }
    }

    .inner {
      width: 102%;
      overflow: hidden;
      margin: 0 auto;
    }
  }

  .br {
    display: block;
  }

  .guide_tip_wrap {
    margin-top: 35px;
    width: 100%;
    overflow: hidden;

    ul {
      width: 100%;
      overflow: hidden;

      li {
        display: inline-block;
        margin: 0 4% 40px 0;
        width: 45%;
        vertical-align: top;

        .tit {
          margin-bottom: 10px;
          height: 35px;
          line-height: 35px;
          font-weight: bold;

          .ico {
            margin-right: 10px;
          }
        }

        .cont {
          min-height: 65px;
        }
      }
    }
  }

  .greeting_wrap {
    text-align: justify;

    p {
      margin-top: 30px;
      word-break: keep-all;
    }

    .sign {
      vertical-align: bottom;
      margin-left: 5px;
    }
  }

  .application_wrap {
    border: solid #ddd;
    border-width: 1px 0 1px 0;

    input {
      padding: 5px;
      max-width: 95%;
      height: 20px;
      line-height: 20px;
      border: 1px solid #ddd;
      padding: 5px;
      max-width: 95%;
      height: 20px;
      line-height: 20px;
      border: 1px solid #ddd;
    }

    .stxt {
      font-size: 13px;
    }

    .terms {
      padding: 2%;
      width: 94%;
      height: 150px;
      border: 1px solid #ddd;
      white-space: pre-line;
      overflow-y: auto;
    }
  }

  .section_tit {
    float: left;
    padding: 15px 10px;
    width: 150px;
    font-size: 17px;

    p {
      font-weight: bold;
    }
  }

  .section_cont {
    float: left;
    padding: 15px 0;
    width: 650px;
    overflow: hidden;
    float: left;
    padding: 15px 0;
    width: 650px;
    overflow: hidden;

    .ulType01 {
      li {
        &:first-child {
          border: 0;
          border: 0;
        }

        padding: 15px 5px;
        border-top: 1px solid #ddd;
      }
    }

    .dlType03 {

      textarea {
        border: 1px solid #ddd;
        width: 90%;
      }
    }

    .ulType02 {
      li {
        float: left;
        margin-right: 13px;
        padding: 0;
        border-top: 0;
      }
    }
  }

  .apply_tbl.noBd {
    tbody {
      .th {
        width: 25%;
        font-weight: normal;
        text-align: left;
      }

      .td {
        width: 75%;
      }

      td {
        padding: 10px 5px;
        border-top: 0;
        text-align: center;
      }
    }
  }

  .bulDot {
    padding-left: 7px;
    margin-top: 2px;
    margin-top: 2px;
    text-align: left;
  }

  .bulDotList {
    padding-left: 7px;

    li {
      margin-top: 2px;
      margin-top: 2px;
      text-align: left;
    }
  }

  .brdList {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;

    thead {
      th {
        font-size: 14px;
        background: #f0f0f0;
      }
    }

    tbody {
      th {
        font-size: 14px;
        background: #f0f0f0;
      }

      td {
        font-size: 14px;
      }
    }

    th, td {
      padding: 12px 10px;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      text-align: center;
    }
  }

  .director {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 15px !important;
    color: #000;
  }
}

#board {
  width: 100%;

  .bbs_gallery_defalut {
    >ul {
      >li {
        &:first-child {
          padding-top: 0;
        }

        padding: 20px 0;
        border-bottom: 1px solid $color-border;
        overflow: hidden;
      }

      li {
        .img {
          float: left;
          margin-right: 0;
          width: 354px;
          height: 130px;
          overflow: hidden;
        }

        .text {
          float: left;
          position: relative;
          margin-left: 20px;
          width: 445px;
          height: 130px;
          overflow: hidden;

          .cont {
            display: -webkit-box;
            height: 45px;
            font-size: 14px;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .detail_btn_wrap {
            position: absolute;
            bottom: 0;

            a {
              display: inline-block;
              width: 113px;
              height: 28px;
              line-height: 28px;
              color: #656565;
              font-size: 13px;
              border: 1px solid $color-border;
              background: #f5f5f5;
              text-align: center;
            }
          }
        }

        p.tit {
          width: 100%;
          font-size: 17px;
          line-height: 17px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
          font-weight: bold;
        }

        .date {
          margin: 5px 0 0;
          color: #959595;
        }
      }
    }
  }

  .exh_view_default {
    @include flex(center, start, column);
    .art_img_wrap {
      width: 100%;
      margin-bottom: 35px;
      // margin-top: 50px;
      >img {
        display: block;
        margin: 0 auto;
        max-width: fit-content;
      }
    }

    .info {
      width: 100%;
      margin-bottom: 30px;

      >.title {
        font-size: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-border;
      }

      .info_box {
        margin-bottom: 30px;
        padding: 30px 10px 30px;
        border-bottom: 1px solid $color-border;

        ul {
          li {
            margin-top: 5px;
            overflow: hidden;
            &:first-child {
              margin-top: 0;
            }
            span {
              display: inline-block;
            }
            .tit {
              width: 80px;
              vertical-align: top;
            }
            .cont {
              color: $color-text-faint;
            }
          }
        }
      }
      .info_text {
        padding: 0 10px;
      }
    }

    .gallery {
      float: left;
      position: relative;
      width: 255px;
      overflow: hidden;

      ul {
        width: 260px;
        overflow: hidden;

        li {
          float: left;
          margin: 0 5px 5px 0;
          width: 125px;
          height: 125px;
          overflow: hidden;

          >a {
            display: block;
          }
        }
      }
    }

    .popzone {
      .pop_layer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1200;

        .layer_inner {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 800px;
          height: 650px;
          margin: -325px 0 0 -400px;
          background: #fff;

          >.inner_wrap {
            position: relative;
            width: 100%;

            .inner_img {
              position: relative;
              width: 550px;
              padding: 20px;
            }

            .inner_txt {
              position: absolute;
              right: 20px;
              top: 20px;
              width: 190px;
            }
          }
        }

        .layer_close {
          display: inline-block;
          position: absolute;
          top: 0;
          right: -30px;
          width: 20px;
          height: 20px;
          background: url(../images/mobile_nav_close_btn.png) no-repeat 0 0;
          text-indent: -9999px;
        }
      }
    }
  }

  .bbs_search {
    width: 100%;
    padding: 10px 0 15px;
    text-align: right;
    &:empty {
      display: none;
    }

    input {
      width: 150px;
      height: 30px;
      padding: 0 10px;
      border: 1px solid #ddd;
      vertical-align: top;
    }

    select {
      width: 120px;
      height: 32px;
      padding-left: 10px;
      background: #fff;
      border: 1px solid #ddd;
      vertical-align: top;
    }

    button {
      width: 50px;
      height: 32px;
      padding: 0;
      color: #656565;
      border: 1px solid #ddd;
      background: #f5f5f5;
      vertical-align: top;
    }
  }

  .bbs_list_defalut {
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border-top: 1px solid #ddd;
      table-layout: fixed;

      tr:hover {
        background-color: rgba(black, 0.025);
      }

      th {
        padding: 10px 5px;
        border-bottom: 1px solid #ddd;
        background: #f5f5f5;
        &.number {
          width: 75px;
        }
        // &.subject {
        //   width: 56%;
        // }
        &.writer {
          width: 120px;
        }
        &.date {
          width: 120px;
        }
        &.hits {
          width: 80px;
        }
      }

      td {
        padding: 10px 5px;
        color: $color-text-faint;
        border-bottom: 1px solid $color-border;
        text-align: center;
        &.notice {
          color: $color-text;
          font-weight: bold;
        }
        &.subject {
          color: $color-text;
          text-align: left;
          a {
            display: inline-block;
            max-width: 93%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .edu_view_default {
    .edu_view_table {
      // border-top: 2px solid $color-border;
      margin-bottom: 15px;

      .post_title {
        font-size: 1.5rem;
        font-weight: bold;
        border-top: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid $color-border;
      }

      .post_td {
        padding: 13px 10px;
        border-bottom: 1px solid $color-border;
      }

      .post_writer {
        color: $color-text-faint;
        overflow: hidden;
        border: none;

        .date {
          margin-left: 10px;
          padding-left: 10px;
          border-left: 1px solid $color-border;
        }

        .hits {
          float: right;
        }
      }
    }

    .post_subject {
      margin-bottom: 30px;
    }

    .state_btn.end {
      background: #aaa;
    }

    .state_btn {
      display: inline-block;
      width: 70px;
      height: 23px;
      line-height: 23px;
      color: #fff;
      font-size: 13px;
      text-align: center;
    }
  }

  .case_wrap {
    border-top: 1px solid #959595;
    border-bottom: 1px solid #ddd;

    dl {
      font-size: 14px;
      overflow: hidden;
      border-bottom: 1px solid #ddd;

      dt {
        float: left;
        width: 150px;
        height: 40px;
        line-height: 40px;
        background: #f5f5f5;
        text-align: center;
      }

      dd {
        float: left;
        padding-left: 10px;
        width: 660px;
        height: 40px;
        line-height: 40px;

        a {
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
        }
      }
    }
  }
}

.alignR {
  text-align: right !important;
}

#h_visual {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 400px;
}

#imgslide {
  width: 100%;
  height: 400px;
  position: relative;
  .imgs {
    @include flex(center, center);
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
  
    >img {
      height: 100%;
      width: auto;
      position: absolute;
    }
  }
}

.btn_prev {
  width: 50px;
  height: 100px;
  position: absolute;
  left: 2%;
  top: 130px;
  filter: invert(1);
  font-size: 8em;
  line-height: 1.0em;
  text-align: center;
  cursor: pointer;
}

.btn_next {
  width: 50px;
  height: 100px;
  position: absolute;
  right: 2%;
  top: 130px;
  filter: invert(1);
  font-size: 8em;
  line-height: 1.0em;
  text-align: center;
  cursor: pointer;
}

.off {
  opacity: 0.2;
  cursor: default;
}

#mCon {
  >.inner {
    margin: 0 auto;
    padding: 40px 0;
    width: 1100px;
  }
}

#firstArea {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  .box_wrap.box1 {
    margin-right: 20px;

    .cont01 {
      margin-right: 20px;
      border-width: 1px 0 0 0;

      .inner {
        width: 260px;
        overflow: hidden;
      }

      a {
        display: block;
        width: 100%;
        height: 265px;
        background: url(../images/220506_sub.jpg) no-repeat 0 0;
        text-indent: -9999px;
        display: block;
        width: 100%;
        height: 265px;
        text-indent: -9999px;
      }
    }

    .cont02 {
      .inner {
        padding-right: 13px;
        width: 445px;
        height: 265px;

        ul {
          li {
            margin-top: 5px;
            overflow: hidden;

            &:first-child {
              margin-top: 0;
            }
            .img {
              float: left;
              margin-right: 10px;
            }

            .txt {
              float: left;
              width: 200px;
              position: relative;

              a.tit {
                display: inline-block;
                margin-bottom: 5px;
                width: 165px;
                color: #212121;
                font-size: 13px;
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }

              .state.end {
                background: #9e9e9e;
              }

              .state {
                position: absolute;
                right: 0;
                display: inline-block;
                padding: 2px 3px 0 2px;
                color: #fff;
                font-size: 11px;
                font-family: '돋움';
                border-radius: 3px;
                background: #c4161c;
                text-align: center;
              }

              .date {
                display: block;
                color: #9e9e9e;
                font-size: 12px;
                width: 220px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }

              .object {
                display: block;
                color: #9e9e9e;
                font-size: 12px;
                width: 220px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .box_wrap {
    float: left;

    .box {
      position: relative;
      float: left;
      border: 1px solid #d9d9d9;
      border-top: 1px solid #c4161c;

      >p.tit {
        position: relative;
        padding: 12px 8px;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        background: #fff;

        .eng {
          color: #666;
          font-size: 14px;
          font-weight: normal;
        }
      }

      .inner {
        background: #fff;
      }

      a.more_btn {
        position: absolute;
        right: -5px;
        top: -5px;
      }
    }
  }

  .box_wrap.box2 {
    position: relative;
    width: 340px;
    height: 315px;

    .cont03 {
      margin-bottom: 20px;
      width: 338px;
      height: 198px;

      .inner {
        padding: 10px 17px;
        height: 100%;

        ul {
          li {
            &:first-child {
              margin-top: 0;
            }

            position: relative;
            margin-top: 8px;

            a {
              display: inline-block;
              width: 230px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            .date {
              position: absolute;
              right: 0;
              color: #9e9e9e;
            }
          }
        }
      }
    }

    .cont04 {
      width: 100%;
      border: 0;
      text-align: center;

      .inner {
        position: relative;
        height: 95px;
        line-height: 95px;
        background: url(../images/banner/20220405.jpg) no-repeat 0 0;
        background-size: cover;
      }

      span {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        width: 90%;
      }
    }
  }
}

#secondArea {
  position: relative;
  width: 100%;

  .box_wrap {
    width: 100%;
    overflow: hidden;

    ul {
      width: 1120px;

      li {
        float: left;
        margin-right: 20px;
        width: 260px;

        .tit {
          padding: 12px 8px;
          color: #000;
          font-size: 16px;
          font-weight: bold;
          border-top: 1px solid #c4161c;
          background: #fff;

          .eng {
            color: #666;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.emph_LGray {
  color: #6c6c6c !important;
}

.float_cut {
  display: block;
  float: none;
  width: 100%;
  height: 0;
  clear: both;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.security_chk {
  margin-top: 20px;

  .txt {
    color: #fff;
  }

  .txt1 {
    color: #fff;
  }

  .chk_inp {
    color: #fff;
  }

  .inp_wrap {
    display: inline-block;
  }

  .security_apply_btn {
    margin-left: 10px;
    padding: 2px 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    vertical-align: middle;
  }
}

.certi_indi {
  margin-top: 20px;
  width: 300px;

  p.info {
    color: #ddd;
    line-height: 20px;
    font-size: 13px;

    >button {
      width: 16px;
      height: 20px;
      margin-left: 5px;
      background: url(../images/ico_info.png) no-repeat 50%;
      text-indent: -9999px;
    }
  }

  .help_pop {
    bottom: 110px;
  }

  h3 {
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 23px;
  }

  >.sel {
    width: 100%;

    >.select {
      float: left;
      width: 235px;
      padding: 15px 0 15px 5px;
      border-bottom: 1px solid #fff;

      select {
        option {
          color: #000;
        }
      }

      >select {
        height: 20px;
        border: none;
        background: transparent;
        width: 100%;
        color: #fff;
      }
    }

    >button {
      display: block;
      float: right;
      width: 40px;
      height: 40px;
      margin-top: 5px;
      border-radius: 20px;
      background: url(../images/go_arr.png) no-repeat 50% #03a9f4;
      text-indent: -9999px;
    }
  }
}

.help_pop {
  display: none;
  position: absolute;
  width: 250px;
  padding: 25px;
  border: 1px solid #03a9f4;
  background: #fff;
  box-shadow: 0 5px 10px rgba(black, 25%);

  >button.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/pop_close.png) no-repeat 50%;
    text-indent: -9999px;
  }

  >.txt_wrap {
    margin-top: 10px;

    >p.tit {
      padding-bottom: 5px;
      color: #03a9f4;
    }

    >p {
      line-height: 20px;
      font-size: 13px;
    }
  }
}

.break {
  display: block;
  clear: both;
}

.type_tab {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;

  ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  .active {
    background-color: #fff;
    color: #267dde;
    border-color: #267dde;
    font-weight: bold;
  }

  li {
    width: 33.3%;
    display: table-cell;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.dlType04 {
  input {
    border: 1px solid #ddd;
  }

  option {
    padding: 2px 20px;
  }
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.emph_red {
  color: #c4151c !important;
}

.padB10 {
  padding-bottom: 10px !important;
}

colgroup {
  display: table-column-group;
}

col {
  display: table-column;
}

.alignC {
  text-align: center !important;
}

.clear {
  clear: both;
}

#topGo {
  position: absolute;
  right: 0;
  top: 0;

  a {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
}