body { background-color: #f2f2f2; color: #0d0d0d; }

header { background-color: #000000; }

nav { background-color: #ffffff; }

section { background-color: #ffffff; }

footer { background-color: #000000; }

section.form { display: flex; flex-direction: column; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; max-width: calc(1100px - 30px); padding: 25px; border-radius: 12px; margin: 35px auto; }

section.form:not(:last-of-type) { margin-bottom: 20px; }

section.form > div:not(:last-of-type) { margin-bottom: 15px; }

section.form > .title { padding: 5px 10px 0; font-size: 1.2em; }

section.form > .title::before { position: relative; top: 1px; margin-right: 5px; }

section.form > .header { display: flex; flex-direction: row; align-items: center; justify-content: space-between; flex-wrap: nowrap; width: 100%; padding: 5px 5px 10px; position: relative; overflow: hidden; border-bottom: 1px solid #d9d9d9; margin-bottom: 15px; }

section.form > .header > .title { font-size: 2rem; line-height: 1; }

section.form .label { margin-right: 6px; opacity: 0.65; }

section.form .label > i { margin-right: 0; }

section.form > .content { display: flex; flex-direction: column; align-items: center; justify-content: start; flex-wrap: nowrap; width: 100%; padding: 0 10px; font-size: 1.125rem; word-break: break-word; }

section.form > .footer { display: flex; flex-direction: row; align-items: center; justify-content: space-between; flex-wrap: nowrap; width: 100%; font-size: 1.125rem; }

section.form .btn, section.form button, section.form input[type=submit], section.form input[type=button], section.form input[type=reset] { min-width: 112px; }

section.user { max-width: 640px; }

section.user.login { max-width: 520px; }

section.user .content form { display: flex; flex-direction: column; align-items: center; }

section.user .content table { max-width: 600px; margin: 0 15px 15px; }

section.user .content table select { width: 140px; height: 30px; }

section.user .content table.login { max-width: 400px; }

section.user .content table td:last-child { padding-right: 60px; }

section.user .content table.signup input[name=userid] { width: calc(100% - 120px); }

section.user .content table.signup input[name=email] { width: calc(100% - 148px); }

section.user .buttons { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; }

section.user .buttons > *:not(:last-child) { margin-right: 25px; }
